@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');

.section__padding {
  padding: 2rem 4rem;
  margin: 40px 0;
}
.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p__font1 {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #565656;
}
.h1__font2 {
  font-family: var(--font-base2);
  font-weight: var(--font-weight-bold);
}
.h2__font1 {
  font-family: var(--font-base);
  font-size: 20px;
  font-weight: 600;
  transition: all ease 0.5s;
}

.boxname {
  font-family: var(--font-base);
  font-size: 30px;
  font-weight: 600;
  color: #ff5e00;
  transition: all ease 0.5s;
}
.button_1 {
  font-family: var(--font-base);
  color: #fff;
  background: var(--color-purple);
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid var(--color-purple);
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 10px;
  transition: all ease 0.5s;
}
.button_1:hover {
  background: none;
  color: var(--color-purple);
}
.button_2 {
  font-family: var(--font-base);
  color: var(--color-purple);
  background: none;
  padding: 15px 30px;
  font-size: 20px;
  border: 2px solid var(--color-purple);
  outline: none;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 30px;
  transition: all ease 0.5s;
}
.button_2:hover {
  color: #fff;
  background: var(--color-purple);
}

.button_3 {
  font-family: var(--font-base);
  color: var(--color-purple);
  background: none;
  border: 2px solid var(--color-purple);
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 40px auto 0 auto;
  transition: all ease 0.5s;
}
.button_3:hover {
  color: #fff;
  background: var(--color-purple);
}
.Bharat{
  font-family: "Della Respira", serif;
  font-weight: 700;
  color: #ff6601;
}
.genarate{
    margin-top: 10px;
    padding: 12px 25px;
    border-radius: 30px;
}
/* .genarate:hover{
  color: var(--color-purple);
    background: none;
    border: 1px solid #ff6601;
} */
.bg-chatbot{
  background: #00000044;
backdrop-filter: blur(10px);
}
.z-9999{
  z-index: 9999;
}
.shadow-5xl{
  box-shadow: 0 30px 60px -10px rgba(0, 0, 0, 0.329);
}
.rounded-5xl{
  border-radius: 2rem;
}
.bg-bharatiai{
  background: #cdcdcd3b;
backdrop-filter: blur(5px);
}
.bg-bharatiai-hover{
  box-shadow: 0 0 15px 0 #0bcd11;
}
.w-control{
  width: 130px;
}
.h-control{
  height: 56px;
}
.bg-gray-chatbox{
  background-color: #56565661;
}


@media screen and (max-width: 1150px) and (min-width: 450px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .branding{
    font-size: 1.2rem;
    padding: 0 40px;
    max-width: 100%;
    h1{
      font-size: 3.5rem;
    }
    p{
      font-size: 1.4rem;
      text-align: center;
      padding: 0 4rem;
    }
  }
  .chatbox-responsive{
    max-height: 60vh;
    padding-bottom: 1rem;
  }
}


@media screen and (max-width: 450px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .branding{
    font-size: 1rem;
    padding: 0 40px;
    max-width: 100%;
    h1{
      font-size: 2.4rem;
    }
    p{
      font-size: 1rem;
      text-align: center;
    }
  }
}

