.app__navbar {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 4rem;
    background: #0000004b;
    backdrop-filter: blur(5px);
    color: white;
    z-index: 9999;
}
.bg_nav_color{
    background: #00000044;
}
.app__navbar-logo{
    height: 60px;
    scale: 1.6;
    margin-bottom: -8px;
}
.app__navbar-logo_small{
    display: none;
    height: 40px;
    aspect-ratio: 1;
}
.app__navbar-logo h1 {
    font-family: var(--font-base2);
    font-weight: var(--font-weight-bold);
    color: var(--color-purple);
    font-size: 24px;
    padding: 0;
}
.app__navbar-links {
    display: flex;
    align-items: center;
    margin-bottom: -10px;
}
.app__navbar-links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.app__navbar-links ul li {
    margin: 0 2rem;
    font-size: 16px;
    font-family: var(--font-base);
    font-weight: 500;
    transition: all ease 0.5s;
    .linkanchors{
        color: white;
    }
    .linkcolor{
        color: var(--color-purple);
    }
}
.app__navbar-links ul li:hover {
    color: var(--color-purple);
    .linkanchors{
        color: var(--color-purple);
    }
    
}
.app__navbar-links ul li a:hover {
    color: var(--color-purple);
}
.app__navbar-search .search {
    display: flex;
    align-items: center;
    border: 2px solid #EFEFEF;
    padding: 10px 20px;
    border-radius: 30px;
}
.app__navbar-search .search input {
    border: none;
    outline: none;
    font-family: var(--font-base);
}
.app__navbar-search .search input::placeholder {
    font-family: var(--font-base);
    color: #EFEFEF;
    font-weight: 500;
    font-size: 16px;
}
.app__navbar-search .search .search__icon {
    cursor: pointer;
    font-size: 20px;
    color: #EFEFEF;
    transition:  all ease 0.5s;
}
.app__navbar-search .search .search__icon:hover {
    color: var(--color-purple);
}
.app__navbar-smallscreen {
    display: none;
    cursor: pointer;
    /* position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1rem; */
    color: white;
    z-index: 9999;
}

.app__navbar-smallscreen_overlay{
    background: #00000044;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    z-index: 9999;
    top: 90px;
    font-size: 1.3rem;
    padding:20px 28px 40px 40px;
    height: max-content;
    min-height: 200px;
    li{
        width: 150px;
    }
}

@media screen and (max-width: 1150px) {
    .app__navbar-links {
        display: none;
    }
    .app__navbar-search {
        display: none;
    }
    .app__navbar-button {
        display: none;
    }
    .app__navbar-smallscreen {
        display: flex;
    }
}
@media screen and (max-width: 450px) {
    .app__navbar-logo_small{
        display: block;
    }
    .app__navbar {
        padding: 10px 2rem;
    }
    .app__navbar-logo{
        display: none;
    }
    .app__navbar-smallscreen_overlay{
        top: 70px;
        font-size: 1rem;
        padding: 20px 24px 32px 32px;
        li{
            width: 100%;
        }
    }
}