.home {
  background-color: #ffffff;
  min-height: 100vh;
  & nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #000000;
    & > .logo {
      color: #000000;
    }
  }
}
.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
  & li a {
    color: #000000;
  }
  & > * {
    margin-left: 1rem;
    color: #000000;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  width: 50%;
  & > * {
    color: #000000;
    margin-bottom: 2rem;
  }
  & > h2 span {
    display: block;
  }
  & .hero-buttons a {
    color: #ffffff;
  }
}
.hero-image {
  width: 50%;
}
.heroimg{
  width: 40vw;
  max-width: 463px;
}
.logoimg{
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  background-color: green;
  backdrop-filter: blur(5px);
  padding: 8px;
  border: 2px solid green;
  border-radius: 5px;
}
.btn2{
  background-color: #017cff;
  color: rgb(255, 255, 255);
}
.numText{
  font-size: 1.5rem;
  color: #000000;
}
@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .hero-image {
    width: 100%;
    &img {
      width: 100%;
    }
  }
  .logoimg{
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heroimg{
    width: 80vw;
    display: flex;
    justify-content: end;
  align-items: end;
  }
}
